* {
    box-sizing: border-box;
    
  }

  input[type=text], select, textarea {
    width: 98%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 1%;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    margin-left: 1%;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 341px;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  .my-button-class{
    width: 100%;
  }